<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Products</title>
		<link rel="stylesheet" href="/css/style.css">
	</head>
	<body>
		<!-- <%- include("./partials/navbar.ejs") %> -->
		<%- include("./partials/sideproduct.ejs") %>
		<div class="view">
            <h1>PRODUCTS</h1>
            <table>
                <tr>
                    <th>PRODUCT</th>
                    <th>ITEM NO.</th>
                    <th>ON-HAND STOCK</th>
                    <th>DATE UPDATED</th>
                    <th></th>
                    <th></th>
                </tr>
                <% for (let prod of product) { %>
                    <tr>
                        <td><%= prod.name %></td>
                        <td><%= prod.poduct_id %></td>
                        <td><%= prod.stock %></td>
                        <td><%= prod.last_updated.toLocaleDateString() %></td>
                        <td>
                            <form action="" method="post">
                                <input type="image"  class="view_button" src= "/images/edit.png" alt="Update">
                            </form>
                        </td>
                        <td>
                            <form action="" method="post">
                                <input type="image"  class="view_button" src= "/images/delete.png" alt="Delete">
                            </form>
                        </td>
                    </tr>
                <% } %>
            </table>
		</div>
	</body>
</html>